@charset "utf8";

/* 전체 style */
body {
    letter-spacing: -1px;
}

/* point style */
/* hedaer point */
.sub_color {
    color: #f15300;
}
.font_14 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}
.red {
    color:#ef544d !important;
}
/* 섹션 1 point */
.show_banner {
    display: block !important;
}
.hide_list {
    display: none;
}
/* 섹션 6 point */
.point_color {
    color: #ef544d;
}

/* container style */
.container {
    margin: 0 auto;
    width: 980px;
    display:flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}
/* header style */
header {
    width: 100%;
}
.header_top {
    border-bottom: 1px solid #c1c1c1;
    
}
.header_top_left li {
    float: left;
    padding: 10px;
    border: 1px solid #c1c1c1;
    margin: -1px 0;
}

.header_top_left li a {
    color: #000;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
}

.header_top_right li {
    height: 10px;
    line-height: 5px;
    float: left;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1.5px solid #c1c1c1;
}

.header_top_right li:last-child {
    border:none;
}
.header_top_right li a {
    color: #000;
    text-decoration: none;
    font-size: 11px;
}

.header_center {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 101px;
    border-bottom: solid 2.5px rgb(44, 44, 44);
}

.header_center_top {
    border-bottom: 2.5px solid #ef544d;
    display: flex;
    justify-content: space-between;
    width: 420px;
}
.header_center_top input {
    width: 300px;
    height: 8px;
    border: none;
    font-size: 13px;
    padding:7px;
    margin-left: 10px;
}

.header_center_top i {
    color: #ef544d;
    font-size: 25px;
}
.header-center-footer {
    margin: 15px;
}

.header-center-footer li {
    float: left;
    height: 10px;
    line-height: 5px;
    float: left;
    font-size: 12px;
    margin-right: 5px;
    padding-right: 5px;
    border-right: 1.5px solid #00adef;
}

.header-center-footer li:last-child {
    border:none;
}
.header-center-footer li a {
    color: #00adef;
    text-decoration: none;
}

.header_bottom {
    background-color: #ef544d;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-bars{
    margin-right: 8px;
    font-size:15px
}
.header_nav_all{
    background-color: #c43730;
    position: relative;
    height: 29px;
    top:0;
    cursor: pointer;
}
.line {
    line-height: 30px;
}

.header_nav_all:hover {
    background-color: #7c241f;
}

.header_nav_all:hover .font_14{
    color:#fff1a2;
}
.menu_show {
    height: 934px;
    transition: height 0.2s;
}
.menu_hide {
    height: 0;
    border-bottom: none !important;
    transition: height 0.2s;
}
.header_nav_all_sub{
    overflow: hidden;
    position: absolute;
    width: 976px;
    top: 43px;
    left: 0;
    background-color: #fff;
    z-index: 5;
    border: 2px solid #c43730;
}
.all_nav {
    width: 18.46%;
    float: left;
    border-right: 1px solid #e5e5e5;
}
.nav_name {
    font-weight: bold;
    font-size: 14px;
    color: #3c3c3c;
}

.all_nav ul li {
    float: initial;
}
.all_nav ul li a {
    color: #666;
    font-size: 12px;
}

.header_bottom_two{
    display: inline-block;
    position: relative;
    top: -1px;
}
.header_bottom_two li{
    padding:7px;
    float: left;
}
.header_bottom_two li{
    display: block;
    padding:7px;
    color: #ffffff;
}
.header_bottom_three{
    display: inline-block;
}
.header_bottom_three li{
    padding:7px 10px;
    float: left;
}

.header_bottom_three li a{
    display: block;
    padding:7px;
    color: #fff1a2;
}

.header_bottom_three li:last-child {
    background: no-repeat url(../images/bg_headerBookdb.png);
    background-position: center;
}
/* header 끝 */

/* 섹션 1 시작 */
.banner {
    width: 100%;
}

.banner_slide_wrap{
    position: relative;
    margin: 0 auto;
    height: 316px;
    width: 980px;
    overflow: hidden;
    border-bottom: 1px solid #000;
}
.banner_slide_form {
    width: 760px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.banner_slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 6840px;
}
.banner_slide li {
    float: left;
}
.slide_left {
    left: 20px;
}
.slide_right{
    right: 20px;
}
.slide_btn {
    position: absolute;
    top: 120px;
    display: none;
}

.slide_btn i {
    transition: 0.5s;
}

.slide_btn i {
    font-size: 50px;
    color: rgba(0, 0, 0, 0.103);
}

.slide_btn i:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.548);
}
.banner_slide_wrap:hover .slide_btn {
    display: inline;
} 

/*베스트셀러 시작*/

.banner_best {
    position: absolute;
    top: 0;
    left: 490px;
    z-index: 3;
    width: 220px;
    height: 316px;
    margin-left: 270px;
    background-color: rgb(165, 165, 165);
    color: #fff;
}

.banner_best_title {
    border-bottom: 1px solid rgba(27, 27, 27, 0.4);
    
}

.banner_best_title_inside {
    padding: 8px 15px;
    color: #fff1a2;
    border:1px solid rgba(255, 255, 255, 0.3);
    border-right-color: rgba(104, 104, 104, 0.3);
    font-weight: bold;
}

.day {
    display:flex;
}

.day li {
    padding: 3px 0;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    width: 50%;
    height: 23px;
    border-left: 1px solid rgba(27, 27, 27, 0.2);
    /* border-bottom: 1px solid rgba(27, 27, 27, 0.2); */
    cursor: pointer;
}

.day li:first-child {
    z-index: 3;
    background-color: rgb(165, 165, 165);
}

#dayBorder {
    content: "";
    position: absolute;
    top: 66px;
    width: 50%;
    height: 1px;
    background: #fff;
    opacity: .3;
    right: 0;
}
/* 
.day li::before {
    content: "";
    position: absolute;
    top: 66px;
    width: 50%;
    height: 1px;
    background: #fff;
    opacity: .3;
}
#btnBestToday::before {
    left: 0;
    display: none;
}
#btnBestWeek::before {
    
} */

.today_click {
    border-bottom: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}
.week_click {
    border-bottom: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}


.best_list_wrap {
    width: 100%;
    height: 100%;
}


.best_list{
    width: 100%;
    height: 100%;
    border-right-color: rgba(104, 104, 104, 0.3);
    padding: 10px 10px;
}
.best_list li {
    margin: 5.5px 0;
}
.lank-form{
    display: inline;
}
.lank{
    margin-right: 5px;
    font-size: 12px;
    font-weight: bold;
    width: 15px;
    text-align: right;
    display: inline-block;
}
.lank_updownCnt{
    margin: 0 2px;
    font-size: 11px;
}
.lank-text{
    width: 147px;
    font-size: 12px;
    display: inline-block;
    letter-spacing:-0.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.lank-text:hover{
    text-decoration: underline;
    cursor: pointer;
}

/* event 부분*/

.banner_event {
    background-color: #f7f7f7;
    width: 100%;
    height: 47px;
    left:0;
}
.event_slide_wrap {
    width: 980px;
    margin: 0 auto;
}

.event_slide_list_form {
    width:190px;
    float: left;
    text-align: center;
    line-height: 45px;
    cursor: pointer;
}

.event_slide_list_over {
    border-top: 3px solid #ef544d;
    height: 42px;
    line-height: 40px;
}

.fa-caret-up {
    font-size: 11px;
    color: rgb(224, 28, 28);
}

.fa-caret-down {
    font-size: 11px;
    color: rgb(30, 30, 204);
}
.fa-minus{
    color:rgb(104, 104, 104);
    font-size: 10px;
    margin-right: 10px;
}

.evnet_slide_num_form {
    position: relative;
    top: -80px;
    left: 0;
    width: 300px;
    display: none;
}

.show_evnet_slide_num_form{
    display: block;
    top: -78px;
}

.evnet_slide_num_form li {
    margin-right: 8px;
    width: 10px;
    height: 10px;
    float: left;
    padding: 7px;
    background-color: rgba(54, 54, 54, 0.548);
    font-size: 12px;
    color: #fff;
    line-height: 10px;
}

.evnet_slide_num_form li:hover {
    cursor: pointer;
    background-color: rgb(54, 54, 54);
}

/* event 끝 */
/* 섹션 1 끝 */

/* 섹션 2시작 */
.welcome_img_form {
    width: 980px;
    display:flex;
    justify-content: space-between;
}

.welcome_img_form img {
    margin: 45px 0;
}
/* 섹션 2 끝 */

/* 섹션 3 시작 */
.recommended_books_wrap {
    position: relative;

}
.recommended_header_img{
    width: 158.99;
    height: 25px;
    position: absolute;
    top: -13px;
    left: 36%;
    background-color: #fff;
    z-index: 3;
}
.view_more {
    position: absolute;
    top: -16px;
    right: 0;
    font-size: 12px;
    color: #666;
    cursor: pointer;
}
.view_more:hover span {
    text-decoration: underline;
}
.recommended_books_form {
    position: relative;
    width: 640px;
    height: 248px;
    padding: 38px 50px 22px 55px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.book {
    float: left;
    display: flex;
    cursor: pointer;
}
.book_img_form {
    position: relative;
}
.book_img_form img {
    width: 155px;
}
.book_recommend_img {
    position: absolute;
    top: -12px;
    width: 38px !important;
}
.book_img {
    margin: 0 auto;
    width: 155px;
    height: 222px;
}
.book_info {
    margin-top: 50px;
    padding-left: 40px;
    padding-right: 30px;
}
.star_form {
    position: relative;
    width: 100%;
}
.star_back {
    display: inline-block;
    width: 85px;
    height: 15px;
    background: url(../images/img_star.png);
}
.star {
    position: absolute;
    width: 85px;
    height: 15px;
    top: 2px;
    left: 0;
    background: url(../images/img_star.png);
    background-position-y: 15.5px;
}
.star_form em {
    font-weight: bold;
    color: #ef544d;
    font-size: 20px;
    margin-bottom: 5px;
}
.book_info strong {
    font-weight: bold;
    font-size: 16px;
    line-height: 35px;
}
.book_info p {
    font-size: 12px;
    margin-top: 19px;
    padding: 10px 15px 10px;
    width: 250px;
    height: 76px;
    background-color: #f7f7f7;
    line-height: 19px;
    color: #444;
}
.books_slide_btn {
    color: #666;
    cursor: pointer;
    font-size: 25px;
    position: absolute;
    top: 120px;
    opacity: .8;
    
}
#books_slide {
    position: relative;
    left: -505px;
    width: 3030px;
    transition: 0.5s;
    
}
#books_slide.on1 {
    left: 0px;
}

#books_slide.on2 {
    left: -505px;
}

#books_slide.on3 {
    left: -1010px;
}
#books_slide.on4 {
    left: -1515px;
}
.recommended_books_left {
    left: 0;
}

.recommended_books_right {
    right: 0;
}
.books_slide_btn:hover {
    color: #c43730;
}

.trend_issue_wrap {
    position: relative;
    right: 0;
    top: -9px;
}
.trend_issue_header_form {
    padding-bottom: 3px;
}
.trend_issue_header_form h3 {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}
.trend_issue_header_form h3 span {
    font-weight: lighter;
}
.trend_issue_img_form {
    cursor: pointer;
    border-top: 1px solid #000;
    background: #f7f7f7;
    height: 308px;
}
/* 섹션 3 끝 */

/* 섹션 4 시작 */
.adver_section_wrap {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}
.adver_section_form {
    display: flex;
    justify-content: space-between;
    height: 360px;
    margin-bottom: 10px;

}
.choice_form {
    width: 363px;
    height: 334px;
}

.border_val {
    border: 1px solid #dcdcdc;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
.member_comment {
    background-color: #f9f9f9;
    height: 91px;
    padding: 10px 0 10px 25px;
    border-top: 1px solid #dcdcdc;
    margin: 0;
}
.member_comment_list {
    padding: 5px;
    display: flex;
    align-items: center;
}
.member_comment_list span {
    text-overflow: ellipsis;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    margin : 0 20px 0 10px;
    width: 50px;
}
.member_comment_list p {
    display: inline-block;
    font-weight: bold;
    font-size: 13px;
    height: 32px;
    line-height: 32px;
    color: #555;
}

.think_books_wrap {
    position: relative;
    width: 220px;
    height: 362px;
    overflow: hidden;
}
#think_slide {
    position: relative;
    width: 440px;
}

#think_slide li {
    float: left;
    width: 220px;
}

.think_books_slide_btn {
    position: absolute;
    display: inline-block;
    top: 170px;
    color: #666;
    cursor: pointer;
    font-size: 25px;
    opacity: .8;
    padding: 0 10px;
}
#think_slide_prev {
    left: 0;
}
#think_slide_next {
    right: 0;
}
.think_books_slide_btn:hover {
    color: #c43730;
}
/* 섹션 4 끝 */

/* 섹션 5 시작 */
.container .field_wrap{
    position: relative;
    margin-top : 50px;
    width: 100%;
    border-top : 1px solid #000;
}
.container .field_wrap .field-title-img {
    position: absolute;
    top: -13px;
    left: 50%;
    transform: translate(-50%, 0);
}
.field_wrap div {
    overflow: hidden;
    width: 964px;
    height: 266px;
    padding: 30px 10px;
    position: relative;
}
#field_list_form .field_list_form {
    padding: 0 !important;
}
.field_menu {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    text-align: center;
    border-bottom: 1px solid #eee;
}
.field_menu li {
    width: 14.2%;
    height: 40px;
    float: left;

}
.field_menu li a{
    position: relative;
    height: 40px;
    display: block;
    line-height: 40px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
.field_menu li a i{
    position: absolute;
    color:#ef544d;
    bottom: -7px;
    left: 65px;
    display: none;
}
.field_menu_show{
    height: 45px;
    color:#ef544d;
    border-bottom: 2px solid #ef544d;
}
.field_menu_show_i{
    display: block;
}
.field_list_position {
    display: none;
    position: absolute !important;
    top: 0;
    left: 0;
}
.field_list{
    position: relative;
    display: inline-block;
    width: 1968px;
}
.field_list li {
    position: relative;
    width: 984px;
    float: left;
}

.book_recommendation {
    float: left;
    width: 8.3%;
    text-align: center;
    cursor: pointer;
    width: 160.02px !important;
}
.book_back {
    display: inline-block !important;
}
.book_back img {
    height: 100%;
}
.book_recommendation img {
    border: 1px solid #e8e8e8;
}
.book_recommendation p {
    height: 34px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 12px;
    line-height: 17px;
    font-weight: bold;
    text-align: center;
    text-overflow: ellipsis;
    color: #555;
}
.book_recommendation span {
    display: block;
    height: 34px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #555;
}
.field_slide_btn {
    position: absolute;
    display: inline-block;
    top: 100px;
    color: #666;
    cursor: pointer;
    font-size: 35px;
    opacity: .8;
}
.field_slide_btn:hover {
    color: #c43730;
}
.field_slide_left {
    left: 0;
}
.field_slide_right{
    right: 0;
}
/* 섹션 5 끝 */

/* 섹션 6시작 */
.related_event_wrap {
    display: flex;
    width: 100%;
    margin-top: 50px;
}
.book_month_form {
    width: 40%;
    height: 100%;
}
.book_month_title {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #000;
    padding: 8px 0;
}
.book_month_title p {
    color: #424242;
    font-size: 18px;
}
.month_page {
    position: absolute;
    top: 13px;
    right: 52px;
    color: #424242;
    font-size: 12px;
    letter-spacing: 2px;
}
.book_month_title ul {
    position: absolute;
    top: 8px;
    right: 0;
    margin: 0 5px;
    color: #c3c3c3;
    border: 1px solid #c3c3c3;
}
.book_month_title ul li {
    cursor: pointer;
    float: left;
    padding: 2px 4px;
}
.book_month_title ul li:first-child {
    border-right: 1px solid #c3c3c3;
}
.book_month_title .view_more {
    top: 13px !important;
    right: 215px !important;
}
.book_discount_form {
    position: relative;
    right: 0;
    margin-top: 32px;
    margin-left: 44px;
    width: 600px;
    height: 100%;
}
.book_month_slide_wrap {
    width: 100%;
    overflow: hidden;
}
.book_month_slide_form {
    position: relative;
    width: 1568px;
}
.book_month_slide_form ul {
    position: relative;
    float: left;
    width: 392px;
}
.book_month_slide_form ul img {
    border: 1px solid #e8e8e8;
}
.book_month_slide_form ul li a {
    display: flex;
    padding: 20px;
}
.books_img {
    display: inline-block;
    width: 77px;
}
.books_img img {
    width: 77px;
}
.books_info {
    display: inline-block;
    width: 259px;
    padding-left: 10px;
}
.books_info .star_form .star_back {
    height: 16px !important;
    margin-top: 0 !important;
}
.books_info .star_form .star {
    height: 16px !important;
    margin-top: 0 !important;
}

.books_info p {
    height: 35px;
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 17px;
    font-weight: bold;
    color: #555;
}
.books_info span {
    overflow: hidden;
    margin-top: 10px;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #555;
}
.book_discount_1, .book_discount_2 {
    margin-left: 15px;
}
.book_discount_1:first-child, .book_discount_2:first-child {
    margin-left: 20px;
}
.book_discount_1:last-child, .book_discount_2:last-child {
    padding-right: 15px;
}

.book_discount_title {
    position: relative;
    border-bottom: 1px solid #000;
}
.book_discount_title ul {
    position: absolute;
    top: -34px;
}
.book_discount_title ul li {
    font-size: 14px;
    float: left;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}
.book_discount_active {
    color: #e25039;
    border: 1px solid #000;
    border-bottom: none !important;
    background-color: #fff;
}
.special_discount {
    width: 500px;
    padding: 54px 17px 50px 0px;
    overflow: hidden;
}
.special_discount li {
    position: relative;
    display: inline-block;
    width: 1040px;
}
.price_reduction {
    width: 500px;
    padding: 54px 25px 50px 0px;
    overflow: hidden;
    display: none;
}
.price_reduction li {
    position: relative;
    display: inline-block;
    width: 1040px;
}
.special_discount ul
,.price_reduction ul {
    width: 520px;
    float: left;
}
.special_discount ul li 
,.price_reduction ul li{
    width: 110px;
    cursor: pointer;
    float: left;
}

.special_discount ul li:hover .book_title 
,.price_reduction ul li:hover .book_title  {
    text-decoration: underline;
}
.special_discount ul li a
,.price_reduction ul li a {
    position: relative;
    padding: 10px;
    text-align: center;
}
.special_discount ul li a img 
,.price_reduction ul li a img{
    box-sizing: border-box;
    border: 1px solid #e8e8e8;
    width: 100px;
    height: 100px;
}
.book_title {
    height: 40px;
    margin-top: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.book_price {
     color: #777777;
     font-size: 11px;
}
.book_current_price {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    color: #555;
}
.rebate {
    position: absolute;
    top: 70px;
    left: 40px;
    width: 80px;
    height: 60px;
    background: no-repeat url(../images/icon_discountDown.png);
    background-position: center;
    background-size: cover;
}
.discount-text{
    font-size:14px;
    margin-top:10px;
    color:#fff1a2;
}
.discount-persent{
    font-size:21px;
    margin-top:5px;
    color:#ffffff;
    font-weight: bold;
}
.discount_page_btn {
    position: absolute;
    top: 140px;
    font-size: 35px;
    color: #666;
    cursor: pointer;
}
.discount_page_btn:hover {
    color: #ef544d;
}
.discount_page_prev {
    left: 0;
}
.discount_page_next {
    right: 0;
}
/* 섹션 6 끝 */

/* footer */
.footer_top {
    margin-top: 30px;
}
.footer_top_title {
    border-bottom: 2px solid #000;
    width: 100%;
    display: flex;
    padding-bottom: 6px;
    justify-content: space-between;
}

.footer_top_title h2 {
    font-size: 20px;
    font-weight: bold;
}
.notice {
    cursor: pointer;
}
.notice span{
    font-size: 12px;
    font-weight: bold;
    padding-right: 3px;
}
.notice p {
    display: inline;
    font-size: 11px;
    color: #666;
    font-weight: bold;
}
.notice p:hover {
    text-decoration: underline;
}
.footer_top_info {
    display: flex;
    width: 100%;
    padding: 25px 0 50px 0;
}
.footer_top_info div {
    width: 25%;
    display: inline-block;
    height: 100%;
    color: #262626;
}
.footer_top_info div h3 {
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 10px;
    
}
.footer_top_info div ul li {
    position: relative;
}
.footer_top_info div ul li a {
    font-size: 11px;
    line-height: 24px;
    color: #888;
    cursor: pointer;
}
.footer_top_info div ul li a:hover {
    color: #262626;
}
.footer_top_info div ul li a img {
    position: relative;
    padding-right: 5px;
    top: 5px;
}
.service ul li {
    font-size: 12px !important;
    line-height: 24px;
}
.service ul li div {
    width: 40%;
}
.footer_center {
    background-color: #58cfc7;
}
.footer_center div {
    display: inline-block;
    padding: 20.5px 20px 20.5px 10px;
    width: 47.82%;
    cursor: pointer;
}
.footer_center div a p{
    color: #fff;
    padding-right: 10px;
}
.footer_center div a strong {
    color: #fff5b1;
    font-weight: bold;
    font-size: 17px;
}
.footer_center div:first-of-type {
    text-align: right;
    border-right: 1px solid #fff;
}

.footer_bottom {
    border-top: 1px solid #999;
    padding-bottom: 40px;
}
.footer_bottom div div {
    width: 100%;
}
.group {
    position: relative;
    top: -5px;
    display: inline-block;
    width: 119px;
    height: 14px;
    font-size: 11px;
    padding: 2px 0 3px 5px;
    color: #636363;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    cursor: pointer;
}
.group i {
    padding-left: 50px;
}
.group ul {
    display: none;
    position: absolute;
    top: 20px;
    left: -1px;
    width: 112px;
    padding: 3px 5px 2px 7px;
    margin-top: -1px;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
}
.group:hover ul {
    display: inline-block;
}
.group ul li {
    color: #999;
    padding-bottom: 4px;
    line-height: 12px;
    font-size: 11px;
}
.group ul li:hover {
    color: #636363;
    text-decoration: underline;
}
.footer_menu {
    display: inline-block;
}
.service_center_form .footer_menu li {
    cursor: pointer;
    float: left;
    padding: 14px 10px 0 10px;
    background: url(../images/gate_bar01.gif) no-repeat left 18px;
}
.service_center_form .footer_menu li a {
    color: #b8b8b8;
    font-size: 12px;
}
.service_center_form .footer_menu li:first-child {
    background: none;
}
.footer_menu li:first-child a{
    color: #2a2a2a;
    font-weight: bold;
}
.footer_menu li:hover a {
    text-decoration: underline;
}
.company_info {
    display: flex;
}
.company_info div {
    border-right: 1px solid #e7e7e7;
    height: 85px;
    line-height: 16px;
    font-size: 11px;
    padding-left: 10px;
}
.company_info div:first-child {
    padding: 0;
}
.company_info div h3 {
    display: inline-block;
    font-size: 12px;
    color: #666;
}
.company_info div ul {
    color: #acacac;
}
.company_info div ul li img {
    position: relative;
    top: -3px;
}
.company_info div ul li a {
    cursor: pointer;
    color: #acacac;
}
.company_info div ul li a:hover {
    text-decoration: underline;
}
.company_info .inquiry {
    cursor: pointer;
    display: inline-block;
    margin-left: 5px;
    width: 60px;
    height: 15px;
    vertical-align: middle;
}
.company_info .service_subs {
    display: inline-block;
    width: 102px;
    height: 15px;
    vertical-align: middle;
}
.footer_terms {
    margin: 10px ;
}
.footer_terms p {
    padding: 0;
    clear: both;
    color: #666;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 11px;
    margin: 5px 0;
}
.footer_terms span {
    margin-top: 5px;
    clear: both;
    color: #b8b8b8;
    font-size: 11px;
    letter-spacing: -1px;
}
/* 푸터 끝 */